body{
    background-color: rgb(163,231,253);
    font-family: "Times New Roman", Arial, sans-serif;
}
#home-button{
    font-size: 20px;
}

.heading{
    font-weight: bold;
    color:blue;
}
.name{
    color: black
}
